# Virtual environment
venv/
env/

# Django settings and sensitive files
*.py[cod]
__pycache__/
db.sqlite3
.env

# Logs
*.log



# Node.js dependencies
node_modules/

# IDE files
.vscode/
.idea/
*.swp
